<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{{ appName }}</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="{{ base_url('assets/images/favicon.ico') }}" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{{ base_url('assets/css/bootstrap.min.css') }}">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{{ base_url('assets/css/typography-aud.css') }}">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{{ base_url('assets/css/style-aud.css') }}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{{ base_url('assets/css/responsive.css') }}">
      <link rel="stylesheet" href="{{ base_url('assets/css/audimed/audimed.css') }}">

      <style>

        html, body {
            height: auto !important; /* Permite que el contenido haga crecer la página */
            min-height: 100vh; /* Asegura que al menos tenga el tamaño de la pantalla */
            overflow-y: auto; /* Permite el scroll si el contenido es más grande */
        }

        #divUserSelect {
            display: none;
        }
        #error-div {
            display: none;
        }

        .sign-in-from {
            min-height: auto; /* Permite que crezca si el contenido lo requiere */
            height: auto; /* Se ajusta automáticamente según el contenido */
            overflow-y: auto; /* Evita que el contenido se corte */
            position: relative;
        }
      </style>

   </head>
   <body>
      <!-- loader Start -->
    <!--
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
    -->
    <div id="loader">
        <div id="loader-center">
        </div>
    </div>
      <!-- loader END -->
        <!-- Sign in Start -->
        <section class="sign-in-page">
            <div class="container sign-in-page-bg mt-5 p-0">
                <div class="row no-gutters">
                    <div class="col-md-6 text-center">
                        <div class="sign-in-detail text-white">
                            <a class="sign-in-logo mb-5" href="#"><img src="{{ base_url('assets/images/Audimed-white.png') }}" class="img-fluid" alt="logo"></a>
                            <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
                                <div class="item">
                                    <img src="{{ base_url('assets/images/login/1.png') }}" class="img-fluid mb-4" alt="logo">
                                    <h4 class="mb-1 text-white">Manage your orders</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                </div>
                                <div class="item">
                                    <img src="{{ base_url('assets/images/login/1.png') }}" class="img-fluid mb-4" alt="logo">
                                    <h4 class="mb-1 text-white">Manage your orders</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                </div>
                                <div class="item">
                                    <img src="{{ base_url('assets/images/login/1.png') }}" class="img-fluid mb-4" alt="logo">
                                    <h4 class="mb-1 text-white">Manage your orders</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 position-relative">
                        <div class="sign-in-from">

                            {% if error %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                                <a href="{{ base_url('login') }}" class="btn btn-primary order-2 order-md-1">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar al inicio
                                </a>
                            {% else %}

                            <h1 class="mb-0">Restablecer Contraseña</h1>
                            <div id="password-requirements" class="alert-success" style="background-color: white;">
                                <strong style="color: black;">Tu contraseña debe cumplir con los siguientes requisitos:</strong>
                                <ul>
                                    <li style="color: gray;">Tener entre <strong>6 y 32 caracteres</strong>.</li>
                                    <li style="color: gray;">Incluir al menos <strong>una letra mayúscula (A-Z)</strong>.</li>
                                    <li style="color: gray;">Incluir al menos <strong>una letra minúscula (a-z)</strong>.</li>
                                    <li style="color: gray;">Incluir al menos <strong>un número (0-9)</strong>.</li>
                                    <li style="color: gray;">Incluir al menos <strong>un carácter especial (@, #, $, %, &, *)</strong>.</li>
                                    <li style="color: gray;"><strong>No debe contener espacios en blanco</strong>.</li>
                                </ul>
                            </div>
                            <div id="error-div" class="alert alert-danger" role="alert">
                                <div class="iq-alert-icon">
                                    <i class="ri-information-line"></i>
                                </div>
                                <div class="iq-alert-text" id="error-message"></div>
                            </div>
                            <form id="resetPasswordForm" class="mt-4">
                                <input type="hidden" name="token" value="{{ token }}">
                                <div class="form-group">
                                    <label for="newPassword">Nueva Contraseña</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control mb-0" id="newPassword" name="newPassword" placeholder="Contraseña">
                                        <button type="button" class="btn btn-outline-secondary toggle-password" data-target="newPassword">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                    <ul id="passwordMessage" class="alert alert-danger mt-2" style="display: none;"></ul>
                                </div>

                                <div class="form-group">
                                    <label for="confirmPassword">Confirmar Contraseña</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control mb-0" id="confirmPassword" name="confirmPassword" placeholder="Repetir Contraseña">
                                        <button type="button" class="btn btn-outline-secondary toggle-password" data-target="confirmPassword">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="d-flex flex-column flex-md-row justify-content-between w-100 gap-2">
                                    <a href="{{ base_url('login') }}" class="btn btn-primary order-2 order-md-1">
                                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar al inicio
                                    </a>
                                    <button type="submit" class="btn btn-primary order-1 order-md-2">Cambiar contraseña</button>
                                </div>


                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Sign in END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{{ base_url('assets/js/jquery.min.js') }}"></script>
      <script src="{{ base_url('assets/js/popper.min.js') }}"></script>
      <script src="{{ base_url('assets/js/bootstrap.min.js') }}"></script>
      <!-- Appear JavaScript -->
      <script src="{{ base_url('assets/js/jquery.appear.js') }}"></script>
      <!-- Countdown JavaScript -->
      <script src="{{ base_url('assets/js/countdown.min.js') }}"></script>
      <!-- Counterup JavaScript -->
      <script src="{{ base_url('assets/js/waypoints.min.js') }}"></script>
      <script src="{{ base_url('assets/js/jquery.counterup.min.js') }}"></script>
      <!-- Wow JavaScript -->
      <script src="{{ base_url('assets/js/wow.min.js') }}"></script>
      <!-- Apexcharts JavaScript -->
      <script src="{{ base_url('assets/js/apexcharts.js') }}"></script>
      <!-- Slick JavaScript -->
      <script src="{{ base_url('assets/js/slick.min.js') }}"></script>
      <!-- Select2 JavaScript -->
      <script src="{{ base_url('assets/js/select2.min.js') }}"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="{{ base_url('assets/js/owl.carousel.min.js') }}"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="{{ base_url('assets/js/jquery.magnific-popup.min.js') }}"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="{{ base_url('assets/js/smooth-scrollbar.js') }}"></script>
      <!-- lottie JavaScript -->
      <script src="{{ base_url('assets/js/lottie.js') }}"></script>
      <!-- Chart Custom JavaScript -->
      <script src="{{ base_url('assets/js/chart-custom.js') }}"></script>
      <!-- Custom JavaScript -->
      <script src="{{ base_url('assets/js/custom.js') }}"></script>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


        <script>
            window.globalConfig = {
                baseUrl: "{{ base_url('/')|e('js') }}",
            };
        </script>

      <script src="{{ base_url('assets/js/audimed/audimed.js') }}"></script>
      <script src="{{ base_url('assets/js/audimed/login/resetPassword.js') }}"></script>
   </body>
</html>