<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Audimed</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ base_url('assets/images/favicon.ico') }}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ base_url('assets/css/bootstrap.min.css') }}">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="{{ base_url('assets/css/typography.css') }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ base_url('assets/css/style.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ base_url('assets/css/responsive.css') }}">

    <link rel="stylesheet" href="{{ base_url('assets/css/audimed/audimed.css') }}">
</head>

<body>
    <!-- loader Start 
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
    -->
    <div id="loader">
        <div id="loader-center">
        </div>
    </div>

    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-sm-12 text-center">
                <div class="iq-error">
                    <p>&nbsp;</p>
                    <h1 class="text-primary">400</h1>
                    <!-- <img src="images/error/01.png" class="img-fluid iq-error-img" alt=""> -->
                    <h2 class="mb-0">Enlace expirado,</h2>
                    <p>comuníquese con el administrador para generar una nuevo enlace.</p>
                    <div>Redirigiendo en <span id="countdown">0</span> segundos</div>
                    <a class="btn btn-primary mt-3" href="{{ base_url('/login') }}"><i class="ri-home-4-line"></i>Ir al Login</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Wrapper END -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ base_url('assets/js/jquery.min.js') }}"></script>
    <script src="{{ base_url('assets/js/popper.min.js') }}"></script>
    <script src="{{ base_url('assets/js/bootstrap.min.js') }}"></script>
    <!-- Appear JavaScript -->
    <script src="{{ base_url('assets/js/jquery.appear.js') }}"></script>
    <!-- Countdown JavaScript -->
    <script src="{{ base_url('assets/js/countdown.min.js') }}"></script>
    <!-- Counterup JavaScript -->
    <script src="{{ base_url('assets/js/waypoints.min.js') }}"></script>
    <script src="{{ base_url('assets/js/jquery.counterup.min.js') }}"></script>
    <!-- Wow JavaScript -->
    <script src="{{ base_url('assets/js/wow.min.js') }}"></script>
    <!-- Apexcharts JavaScript -->
    <script src="{{ base_url('assets/js/apexcharts.js') }}"></script>
    <!-- Slick JavaScript -->
    <script src="{{ base_url('assets/js/slick.min.js') }}"></script>
    <!-- Select2 JavaScript -->
    <script src="{{ base_url('assets/js/select2.min.js') }}"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="{{ base_url('assets/js/owl.carousel.min.js') }}"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="{{ base_url('assets/js/jquery.magnific-popup.min.js') }}"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="{{ base_url('assets/js/smooth-scrollbar.js') }}"></script>
    <!-- Chart Custom JavaScript -->
    <script src="{{ base_url('assets/js/chart-custom.js') }}"></script>
    <!-- Custom JavaScript -->
    <script src="{{ base_url('assets/js/custom.js') }}"></script>
    <script>
        const base_url = "{{ base_url('/') }}";
    </script>
    <script src="{{ base_url('assets/js/core/security-module/user-confirm-error-controller.js') }}"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('formLogin'); // Reemplaza 'myForm' con el ID de tu formulario

            form.addEventListener('submit', function (event) {
                const loader = document.getElementById('loader');

                // Mostrar el loader
                loader.style.display = 'flex';
            });
        });

    </script>

</body>

</html>