{% extends 'Layouts/main.twig' %} {% block content %}

{% block cssAPP %}
<link rel="stylesheet" href="{{ base_url('assets/css/data-table.css') }}">

<style>
   .image-button:hover {
      transform: scale(1.05);
      /* Escala la imagen ligeramente */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      /* Agrega sombra */
   }

   .icono-bg {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
   }

   .icono-bg.candadito {
      background-image: url("{{ icons('padlock-icon.png') }}");
   }

   .icono-bg.semaforo-amarillo {
      background-image: url("{{ icons('semaforo-amarillo-icon.png') }}");
   }

   .icono-bg.semaforo-rojo {
      background-image: url("{{ icons('semaforo-rojo-icon.png') }}");
   }

   .icono-bg.llave {
      background-image: url("{{ icons('llave-icon.png') }}");
   }

   .tachado {
      text-decoration: line-through;
   }
</style>

<script>
   function changeInput(id){
        $("#frp_user_id").val(id);
    }
</script>

{% endblock %}

<!--
<div class="container-fluid">

   <div class="row">
      <div class="col-sm-12">
         <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
               <div class="iq-header-title">
                  <h4 class="card-title">Listado de Accidentados del Siniestro</h4>
               </div>
               <div class="iq-card-header-toolbar d-flex align-items-center">
                  <a href="{{base_url('accidentado/nuevoaccidentado')}}" class="btn btn-primary"><i class="fa fa-plus"
                        aria-hidden="true"></i>Nuevo Accidentado</a>
               </div>
            </div>
            <div class="iq-card-body">
               <div class="table-responsive">
                  <table id="datatable" class="table table-striped table-bordered">
                     <thead>
                        <tr>
                           <th class="text-center">Orden</th>
                           <th></th>
                           <th class="text-center">Username</th>
                           <th>Email</th>
                           <th class="text-center">Móvil</th>
                           <th class="text-center">Perfil</th>
                           <th>Última conexión</th>
                           <th>Accesos</th>
                           <th class="text-center">Seguridad</th>
                           <th class="text-center">Actions</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for lacc in listAcc %}
                        <tr>
                           <td class="text-center">{{ loop.index }}</td>
                           <td class="text-center">
                              {% if user.estadoreg == 100 %}
                              <div class="icono-bg candadito">
                                 &nbsp;</div>
                              {% elseif user.estadoreg == 200 %}
                              <div class="icono-bg semaforo-rojo">&nbsp;</div>
                              {% elseif user.activo == 0 and user.estadoreg == 0 %}
                              <div class="icono-bg semaforo-amarillo">&nbsp;</div>
                              {% elseif user.activo == 1 and user.estadoreg == 0 and user.eliminado == 0 and user.passwd
                              is not null %}
                              <div class="icono-bg llave">&nbsp;
                              </div>
                              {% endif %}
                           </td>
                           {% if user.estadoreg == 200 %}
                           <td class="text-center tachado">{{ user.usuario }}</td>
                           <td class="tachado">{{ user.email }}</td>
                           <td class="text-center tachado">{{ user.movil }}</td>
                           {% else %}
                           <td class="text-center">{{ user.usuario }}</td>
                           <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                           <td class="text-center"><a href="tel:{{ user.movil }}">{{ user.movil }}</a></td>
                           {% endif %}
                           <td class="text-center">{{ lacc.accidentado.nombreaccidentado }}</td>
                           <td>En línea</td>
                           <td class="text-center">
                              <button type="button" class="btn btn-outline-dark">
                                 <i class="fa-solid fa-ellipsis-vertical"></i><i class="fa-solid fa-ellipsis-vertical"></i>MAPFRE(2)
                              </button>
                           </td>
                           <td class="text-center">
                              <button type="button" class="btn btn-outline-danger" onclick="changeInput('{{user.idusuario}}')" data-toggle="modal" data-target="#modalResetPassword">
                                 <i class="fa-solid fa-key"></i>Reset
                              </button>
                           </td>
                           <td class="text-center">
                              <a href="{{base_url('usuarios/detalle')}}/{{user.idusuario}}" class="btn btn-outline-primary">
                                 <i class="fa-solid fa-magnifying-glass"></i>Info
                              </a>
                           </td>
                        </tr>
                        {% else %}
                        <tr>
                           <td class="text-center" colspan="7">No hay registros disponibles.</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                     <tfoot>
                        <tr>
                           <th class="text-center">Orden</th>
                           <th></th>
                           <th class="text-center">Username</th>
                           <th>Email</th>
                           <th class="text-center">Móvil</th>
                           <th class="text-center">Perfil</th>
                           <th>Última conexión</th>
                           <th>Accesos</th>
                           <th class="text-center">Seguridad</th>
                           <th class="text-center">Actions</th>
                        </tr>
                     </tfoot>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
-->       

            <div class="container-fluid">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Información del Siniestro</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="about-info m-0 p-0">
                              <div class="row">
                                 <div class="col-4">Asegurado: {{infosiniestro.nombreAsegurado}}</div>
                                 <div class="col-4">Tipo Póliza:</div>
                                 <div class="col-4">Tipo Siniestro:</div>
                                 <div class="col-4">Activ. Serv. Med.:</div>
                                 <div class="col-4">Placa:</div>
                                 <div class="col-4">N° Póliza:</div>
                                 <div class="col-4">N° Siniestro:</div>
                                 <div class="col-4">F/H Siniestro:</div>
                                 <div class="col-4">Ubigeo:</div>
                                 <div class="col-4">N° SOAT:</div>
                                 <div class="col-4">N° Accidentados:</div>
                                 <div class="col-4">Fecha de Comunicación:</div>
                                 <div class="col-4">Marca Vehiculo:</div>
                                 <div class="col-4">Clase Vehículo:</div>
                                 <div class="col-4">Modelo Vehiculo:</div>
                                 <div class="col-4">Observación:</div>
                              </div>
                           </div>
                        </div>
                     </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Lista de Accidentados</h4>
                           </div>
                        </div>
                     </div>
                  </div>
                        {% for lsacci in listAcc %}
                           <div class="col-sm-6 col-md-3">
                              <div class="iq-card">
                                 <div class="iq-card-body text-center">
                                    <div class="doc-profile">
                                      <!-- <img class="rounded-circle img-fluid avatar-80" src="./assets/images/user/12.jpg" alt="profile">-->
                                    </div>
                                    <div class="iq-doc-info mt-3">
                                       <h4> {{ lsacci.primerNombreAccidentado }} {{ lsacci.segungoNombreAccidentado }} {{ lsacci.apellidoPaternoAccidentado }} {{ lsacci.apellidoMaternoAccidentado }}</h4>
                                       <p class="mb-0" >Edad: {{ lsacci.edadAccidentado }}</p>
                                    </div>
                                    <div class="iq-doc-description mt-2">
                                       <p class="mb-0">Médico Auditor: {{ lsacci.medicoAuditorNombre }}, {{ lsacci.medicoAuditorApellidos }}</p>
                                    </div>
                                    <a href="profile.html" class="btn btn-primary">Ver</a>
                                    <a href="profile.html" class="btn btn-primary">Editar</a>
                                    <a href="profile.html" class="btn btn-danger">Eliminar</a>
                                 </div>
                              </div>
                           </div> 
                        {% else %}
                              <tr>
                                 <td class="text-center" colspan="7">No hay registros disponibles.</td>
                              </tr>
                        {% endfor %}                 
               </div>
            </div>

<!--MODALES-->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header" style="background-color: #089bab;">
            <h5 class="modal-title" id="staticBackdropLabel" style="color: #eff7f8;">Seleccionar Aseguradora</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-sm-6" style="text-align: center;">
                  <img src="{{ base_url('assets/images/mapfre1.png') }}" class="img-fluid rounded mr-3 image-button"
                     alt="user" style="max-width: 120px; height: auto;" id="fnMapfre" />
               </div>
               <div class="col-sm-6" style="text-align: center;">
                  <img src="{{ base_url('assets/images/pacifico.png') }}" class="img-fluid rounded mr-3 image-button"
                     alt="user" style="max-width: 120px; height: auto;" id="fnPacifico" />
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <!--<button type="button" class="btn btn-primary">Confirmar</button>-->
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modalResetPassword" tabindex="-1" role="dialog" aria-labelledby="modalResetPasswordLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="formResetPasswd">
         <div class="modal-header">
          <h5 class="modal-title" id="modalResetPasswordLabel">Reiniciar contraseña</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <input type="hidden" id="frp_user_id">
          ¿Está seguro que deseas reiniciar la contraseña del usuario?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
      </form>
      </div>
   </div>
 </div>

{% endblock %}

{% block javascriptAPP %}
<script>
   window.globalConfig = {
      baseUrl: "{{ base_url('/')|e('js') }}"
   };
</script>
<script src="{{ base_url('assets/js/data-table.js') }}"></script>
<script type="module" src="{{ base_url('assets/js/core/users-module/user-reset-passwd-controller.js') }}"></script>


{% endblock %}