<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{{ appName }}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ base_url('/') }}public/assets/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ base_url('/') }}public/assets/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="{{ base_url('/') }}public/assets/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ base_url('/') }}public/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ base_url('/') }}public/assets/css/responsive.css">

    <link rel="stylesheet" href="{{ base_url('/') }}public/assets/css/audimed/audimed.css">

    <style>
        .container-fluid {
            flex: 1; /* Hace que el contenido ocupe el espacio restante */
        }
    </style>

</head>
<body class="sidebar-main-menu">
    <!-- loader Start 
    <div id="loading">
        <div id="loading-center">

        </div>
    </div>
    -->

    <div id="loader">
        <div id="loader-center">
        </div>
    </div>

    <!-- Wrapper Start -->
    <div class="wrapper">
        {% include 'Layouts/sidebar.twig' %}
            <!-- Page Content  -->
         <div id="content-page" class="content-page">
            {% include 'Layouts/header.twig' %}
                {% block content %}{% endblock %}
            {% include 'Layouts/footer.twig' %}
         </div>
    </div>
    
    <script src="{{ base_url('/') }}public/assets/js/jquery.min.js"></script>
    <script src="{{ base_url('/') }}public/assets/js/popper.min.js"></script>
    <script src="{{ base_url('/') }}public/assets/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="{{ base_url('/') }}public/assets/js/jquery.appear.js"></script>
    <!-- Countdown JavaScript -->
    <script src="{{ base_url('/') }}public/assets/js/countdown.min.js"></script>
    <!-- Counterup JavaScript -->
    <script src="{{ base_url('/') }}public/assets/js/waypoints.min.js"></script>
    <script src="{{ base_url('/') }}public/assets/js/jquery.counterup.min.js"></script>
    <!-- Wow JavaScript -->
    <script src="{{ base_url('/') }}public/assets/js/wow.min.js"></script>
    <!-- Apexcharts JavaScript -->
    <script src="{{ base_url('/') }}public/assets/js/apexcharts.js"></script>
    <!-- Slick JavaScript -->
    <script src="{{ base_url('/') }}public/assets/js/slick.min.js"></script>
    <!-- Select2 JavaScript -->
    <script src="{{ base_url('/') }}public/assets/js/select2.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="{{ base_url('/') }}public/assets/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="{{ base_url('/') }}public/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="{{ base_url('/') }}public/assets/js/smooth-scrollbar.js"></script>
    <!-- lottie JavaScript -->
    <script src="{{ base_url('/') }}public/assets/js/lottie.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="{{ base_url('/') }}public/assets/js/chart-custom.js"></script>
    <!-- Custom JavaScript -->
    <script src="{{ base_url('/') }}public/assets/js/custom.js"></script>

    <script src="{{ base_url('/') }}public/assets/js/audimed/audimed.js"></script>

    {% block javascriptAPP %} {% endblock %}

</body>
</html>