<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf_token" content="{{ csrf_hash() }}" >
    <title>{{ appName }}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ base_url('assets/images/favicon.ico') }}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ base_url('assets/css/bootstrap.min.css') }}">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="{{ base_url('assets/css/typography-aud.css') }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ base_url('assets/css/style-aud.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ base_url('assets/css/responsive.css') }}">

    <link rel="stylesheet" href="{{ base_url('assets/css/audimed/audimed.css') }}">

    <style>
        .container-fluid {
            flex: 1; /* Hace que el contenido ocupe el espacio restante */
        }

                /* Hacer que el modal ocupe toda la pantalla */
        .modal-fullscreen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
            z-index: 9999;
        }

        .opcion-imagen {
            cursor: pointer;
            transition: transform 0.3s;
            width:200px;
            width: 100%;
            height: 100%;
        }
        .opcion-imagen:hover {
            transform: scale(1.1);
            border: 3px solid #089bab;
        }

        .btn-producto{
            color: white;
            border-color: white;
            font-size: x-large;
        }

        .contenedor-prod{
            width: 25px
        }

    </style>

    {% block cssAPP %} {% endblock %}

</head>
<body class="sidebar-main-menu">
    <!-- loader Start 
    <div id="loading">
        <div id="loading-center">

        </div>
    </div>
    -->

    <div id="loader">
        <div id="loader-center">
        </div>
    </div>

    <!-- Wrapper Start -->
    <div class="wrapper">
        {% include 'Layouts/sidebar.twig' %}
            <!-- Page Content  -->
         <div id="content-page" class="content-page">
            {% include 'Layouts/header.twig' %}
                {% block content %}{% endblock %}
            {% include 'Layouts/footer.twig' %}
         </div>
    </div>

    <!-- Modal de selección bloqueante -->
<div id="modalSeleccion" class="modal-fullscreen" style="display: none;">
    <div class="text-center text-white">
        <h2 id="divTitulo" style="color: white;">Selecciona una aseguradora</h2>
        <div class="row mt-4" id="divAseguradora" style="display: none;">

            {% set total = data.aseg_usuario|length %}
            {% set colClass = 'col-md-12' %}

            {% if total == 1 %}
                {% set colClass = 'col-md-12' %}
            {% elseif total == 2 %}
                {% set colClass = 'col-md-6' %}
            {% elseif total == 3 %}
                {% set colClass = 'col-md-4' %}
            {% elseif total == 4 %}
                {% set colClass = 'col-md-3' %}
            {% else %}
                {% set colClass = 'col-md-2' %}
            {% endif %}

            {% for imagen in data.aseg_usuario %}
                <div class="{{ colClass }}" style="width: 250px;">
                    <img src="{{ base_url(imagen.url) }}" class="opcion-imagen rounded mr-3 img-fluid" data-id="{{ imagen.idaseguradora }}">
                </div>
            {% endfor %}
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-12 d-flex justify-content-center flex-wrap gap-4" id="divProducto" style="display: none;">
                {% for producto in data.prod_aseg %}
                    <button type="button" class="btn btn-outline-primary mb-3 mr-2 btn-producto" 
                        data-id="{{ producto }}"
                        onclick="ejecutarFuncion('{{ producto }}')">{{ producto }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    
    <script src="{{ base_url('assets/js/jquery.min.js') }}"></script>
    <script src="{{ base_url('assets/js/popper.min.js') }}"></script>
    <script src="{{ base_url('assets/js/bootstrap.min.js') }}"></script>
    <!-- Appear JavaScript -->
    <script src="{{ base_url('assets/js/jquery.appear.js') }}"></script>
    <!-- Countdown JavaScript -->
    <script src="{{ base_url('assets/js/countdown.min.js') }}"></script>
    <!-- Counterup JavaScript -->
    <script src="{{ base_url('assets/js/waypoints.min.js') }}"></script>
    <script src="{{ base_url('assets/js/jquery.counterup.min.js') }}"></script>
    <!-- Wow JavaScript -->
    <script src="{{ base_url('assets/js/wow.min.js') }}"></script>
    <!-- Apexcharts JavaScript -->
    <script src="{{ base_url('assets/js/apexcharts.js') }}"></script>
    <!-- Slick JavaScript -->
    <script src="{{ base_url('assets/js/slick.min.js') }}"></script>
    <!-- Select2 JavaScript -->
    <script src="{{ base_url('assets/js/select2.min.js') }}"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="{{ base_url('assets/js/owl.carousel.min.js') }}"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="{{ base_url('assets/js/jquery.magnific-popup.min.js') }}"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="{{ base_url('assets/js/smooth-scrollbar.js') }}"></script>
    <!-- lottie JavaScript -->
    <script src="{{ base_url('assets/js/lottie.js') }}"></script>
    <!-- Chart Custom JavaScript -->
    <script src="{{ base_url('assets/js/chart-custom.js') }}"></script>
    <!-- Custom JavaScript -->
    <script src="{{ base_url('assets/js/custom.js') }}"></script>

    <script>
        window.globalConfig = {
          baseUrl: "{{ base_url('/')|e('js') }}",
          pathUrl: "{{ base_url('') }}",
          total_aseg_user: Number({{data.aseg_usuario|length}}),
          idaseguradora_user: Number("{{ data.idaseguradora_user }}"),
          nombre_aseguradora: "",
          ruta_aseguradora: "",
          idproducto_user: "{{ data.idproducto_user }}",
        };

        // Evitar que el usuario cierre el modal sin seleccionar
        window.onload = function () {
            if (window.globalConfig.idaseguradora_user == 0) {
                document.getElementById('modalSeleccion').style.display = 'flex';
                document.getElementById('divAseguradora').style.display = 'flex';
            }else{
                asignarLogo();
                if(window.globalConfig.idproducto_user == 0){
                    document.getElementById('modalSeleccion').style.display = 'flex';
                    document.getElementById('divProducto').style.display = 'flex';
                    $("#divTitulo").html('Elige un producto');
                }
              cambiarColores(window.globalConfig.idaseguradora_user);
            }
        };

        console.log("idAseguradora: " + window.globalConfig.idaseguradora_user);
        console.log("idProducto: " + window.globalConfig.idproducto_user);
    </script>

    {% block javascriptAPP %} {% endblock %}

    <script src="{{ base_url('assets/js/audimed/audimed.js') }}"></script>

</body>
</html>